# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Summarizing the popular languages for Data Science
- Remembering some commonly used libraries used by Data Scientists
- Remembering some popular Data Science Tools
- Practicing using Mardown in Jupiter
- Practicing in simple code creation

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. ScyPy

| Data Science Tools |
| --- |
| Jupiter Notebook |
| RStudio |
| ApacheStark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60
a = 200 // 60
print("200 minutes in hours are %d hours" % a)

200 minutes in hours are 3 hours

## Author
Kostiantyn Afanasiev